*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding-top: 22px;
    background-color: #f3d7b7;;
}
.container{
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.link{
    text-decoration: none;
    color: rgb(51, 51, 51);
font-family: "Roboto";
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 1px;
transition: 0.5s ease-in-out;
}
.link:hover{
    color: red;
}.hero{
    background-color: #f3d7b7;
    padding-top: 130px;
    padding-bottom: 257px;
}
.hero__textbox{
    width: 464px;
}
.hero__title{
    color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 64px;
font-weight: 700;
line-height: 75px;
}
.hero__text{
    color: rgb(0, 0, 0);
font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin: 47px 0;
}
.hero__btn{
    width: 193px;
    height: 51px;
    border: none;
    border-radius: 100px;
    background: rgb(10, 119, 95);
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}
.hero__btn:hover{
    background-color: red;
}
.hero__wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__right{
    position: relative;
}
.hero__bg{
    position: absolute;
    top: -180px;
    right: 0;
}
.hero__right::before{
    position: absolute;
    z-index: 2;
    top: -230px;
    right: 600px;
    background-image: url("./images/image\ 40.png");
    width: 160px;
    height: 160px;
    background-position: center;
    display: block;
    content: "";
    transform: rotate(0deg);
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes spinner{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.hero__title2{
    text-align: center;
    padding-top: 108px;
    color: rgb(0, 0, 0);
font-family: "Roboto";
font-size: 50px;
font-weight: 700;
line-height: 59px;
}
.hero__type{
    display: flex;
    padding-top: 42px;
    list-style: none;
}
.hero__left{
    padding-top: 121px;
    padding-left: 120px;
    color: rgb(51, 51, 51);
font-family: "Roboto";
font-size: 48px;
font-weight: 500;
line-height: 56px;
}
.hero__text2{
    padding-top: 10px;
    padding-left: 120px;
    width: 600px;
    color: rgb(51, 51, 51);
font-family: "Roboto";
font-size: 22px;
font-weight: 400;
line-height: 34px;
}
.hero__type2{
    display: flex;
}
.hero__menu{
    height: 375px;
}
.footer{
    margin-top: 89px;
    background-color: #f3d7b7;
    height: 160px;
}
.footer__navigation{
    display: flex;
    padding: 70px;
    justify-content: space-around;
}
.footer__ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.hero__wrap{
    display: flex;
}
.hero__img{
    padding-top: 160px;
}
.hero__h2{
    padding-top: 160px;
    padding-left: 300px;
    color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 56px;
}
.hero__p{
    padding-top: 64px;
    padding-left: 300px;
    color: rgb(51, 51, 51);
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.hero4{
    background-color: #C99B67;
    margin-top: 200px;
    padding-bottom: 200px;
}
.hero__wrap2{
    display: flex;
}
.heroh{
    padding-top: 102px;
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 50px;
font-weight: 700;
line-height: 59px;
}
.hero__p2{
    padding-top: 20px;
    width: 639px;
    color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.heroimg2{
    position: relative;
}
.iiii{
    position: absolute;
    top: -100px;
    margin-left: 206px;
}
.footer2{
    
    background-color: #f3d7b7;
}